html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.bg-fide-blue {
    background-color: #0033A0 !important;
}

.bg-fide-yellow {
    background-color: #FFC400 !important;
}

.navbar-dark .nav-link.active,
.navbar-dark .nav-link:hover {
    color: #fff !important;
    text-decoration: underline;
}
