html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.bg-fide-blue {
    background-color: #0033A0 !important;
}

.bg-fide-yellow {
    background-color: #FFC400 !important;
}

.navbar-dark .nav-link.active,
.navbar-dark .nav-link:hover {
    color: #fff !important;
    text-decoration: underline;
}



.modo-alto-contraste * {
    background-color: #000 !important;
    color: #fff !important;
    border-color: #fff !important;
}

.modo-alto-contraste a {
    color: #00ffff !important;
}



.visually-hidden {
    position: absolute !important;
    height: 1px;
    width: 1px;
    overflow: hidden;
    clip: rect(1px, 1px, 1px, 1px);
    white-space: nowrap;
}



*:focus {
    outline: 3px solid #FFC400 !important;
    outline-offset: 3px !important;
}


.modo-alto-contraste * {
    transition: none !important;
}


.modo-alto-contraste table,
.modo-alto-contraste th,
.modo-alto-contraste td {
    background-color: #000 !important;
    color: #fff !important;
    border-color: #fff !important;
}